# IMPORTANT 
similar-homes-module.pem

###########################
node_modules
client/dist/nearbyHomes.app.js
config/db-config.js
coverage
.vscode
.DS_Store

mockGenerator/rich.js
mockGenerator/richOG.js
mockGenerator/tenMil.csv
mockGenerator/tenMilGZIP.csv.gz
mockGenerator/thousand.csv

newrelickey.js
newrelic_agent.log
